<div class="bootstrap-wrapper" *ngIf = "!enviado">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <mat-card style="margin-top: 70px;">
                    <mat-card-content>
                        <h3><b>Instruções</b></h3>
                        <ul>
                            <li>Não atualize a página, caso contrário você receberá novas perguntas neste questionário</li>
                            <li>Não altere as guias</li>
                            <li>Não minimize a janela</li>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-7">
                <ng-container *ngIf= "perguntas">
                    <h1 class="mt20"> O curso <b>{{ perguntas[0].exame.titulo }}</b></h1>
                </ng-container>

                <mat-card *ngFor="let p of perguntas; let i = index">
                    <mat-card-content>
                        <p><b>{{ i+1 }} <span [innerHTML]="p.conteudo"></span></b></p>
                        <mat-divider></mat-divider>
                        <div class="row mt20">
                            <div class="col-md-7 mt20">
                                <input [(ngModel)] = "p.respostaDada" type="radio" [value]="p.opcao1" name={{i}}>{{ p.opcao1}}
                            </div>
                            <div class="col-md-7 mt20">
                                <input [(ngModel)] = "p.respostaDada" type="radio" [value]="p.opcao2" name={{i}}>{{ p.opcao2}}
                            </div>
                            <div class="col-md-7 mt20">
                                <input [(ngModel)] = "p.respostaDada" type="radio" [value]="p.opcao3" name={{i}}>{{ p.opcao3}}
                            </div>
                            <div class="col-md-7 mt20">
                                <input [(ngModel)] = "p.respostaDada" type="radio" [value]="p.opcao4" name={{i}}>{{ p.opcao4}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6"></div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <div class="container text-center mt20 mb20">
                    <button mat-raised-button (click)="enviarQuestionario()" color="primary">Enviar Questionário</button>
                </div>
            </div>
            <div class="col-md3">
                <!-- Progresso -->
                <mat-card style="margin-top:70px;">
                    <mat-card-header>
                        <mat-card-title>Temporizador</mat-card-title>
                        <mat-card-subtitle>O questionário será enviado automaticamente quando o cronômetro chegar a 0:0</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <h1 class="text-center">Hora formatada (fazer método)</h1>
                        <mat-spinner mode="determinate" style="margin: auto;" [value]="70"></mat-spinner>   <!-- Angular Material: Para utilizar "mat-spinner" tem que importar o MatProgressSpinnerModule no app.module.ts -->
                    </mat-card-content>
                </mat-card>          
            </div>
        </div>
    </div>
</div>

<!-- Este bloco só irá ser visualizado na tela no momento que o usuário enviar o questionário - de acordo com o condicionante "enviado" -->
<div class="bootstrap-wrapper" *ngIf = "enviado">
    <div class="container mt20">
        <div class="col-md-6 offset-md-3">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Resultado da prova</mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-center">
                    <h1>Pontos Conseguidos: {{ pontosConseguidos }}</h1>
                    <h2>Respostas Corretas: {{ respostasCorretas }}</h2>
                </mat-card-content>
                <div class="container text-center mt20 mb20">
                    <button mat-raised-button color="primary" style="margin-right: 5px;">Imprimir</button>
                    <button mat-raised-button color="accent" [routerLink] = "'/user-dashboard/0'">Inicio</button>
                </div>
            </mat-card>
        </div>
    </div>
</div>
