<mat-card style="margin-left: 10px;">
    <h1>Perfil de Detalhes</h1>
    <mat-card-content>
        <div class = "bootstrap-wrapper">
            <div class = "container">
                <div class = "text-center">
                    <img src="../../../assets/perfil.png" alt="icone perfil" class = "profile-image">
                    <h1 class="mt20">{{ user.firstname }} {{ user.lastname }}</h1>
                </div>
                <div class = "row">
                    <div class = "col-md-10 offset-md-1">
                        <table class = "table text-center">
                            <tr>
                                <td>Nome do Usuário</td>
                                <td>{{ user.firstname }}</td>
                            </tr>
                            <tr>
                                <td>ID do Usuário</td>
                                <td>{{ user.id }}</td>
                            </tr>
                            <tr>
                                <td>Telefone do Usuário</td>
                                <td>{{ user.phone }}</td>
                            </tr>
                            <tr>
                                <td>Permissão do Usuário</td>
                                <td>{{ user.authorities[0].authority }}</td>
                            </tr>
                            <tr>
                                <td>Situação do Usuário</td>
                                <td>{{ user.enabled ? "Ativo" : "Não ativo"}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <mat-card-actions class = "text-center justify-center">
            <button mat-raised-button color = "primary">Atualizar</button>
            <button mat-raised-button color = "accent">Compartilhar</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>

