<mat-card class="mt20">
    <div class="container">
     <div class="row">
       <div class="col-md-12">
         <mat-card-header>
           <mat-card-title>
             Bem vindo Administrador
           </mat-card-title>
         </mat-card-header>
         <mat-card-subtitle>Painel de administrador</mat-card-subtitle>
         <mat-card-content class="ml30">
           <h1></h1>
           <p></p>
           <mat-divider></mat-divider>
           <br>
           <h1>Suas Funções : </h1>
           <ul>
             <li>Gerenciar categorias</li>
             <li>Gerenciar exames</li>
             <li>Atribuir exames a diferentes categorias</li>
             <li>Gerenciar perguntas</li>
             <li>Atribua perguntas a cada exame</li>
           </ul>
           <mat-divider></mat-divider>
           <br>
         </mat-card-content>
       </div>
     </div>
    </div>
 </mat-card>
