<div style="text-align: center;">
  <h1>Instalando Materialize (Angular Material)</h1>
  <h2><b>Página do Materialize:</b><a href="https://material.angular.io/guide/getting-started" target="_blank">Getting Started with Angular Material</a></h2>
  <h2>Comando para instalar Materialize:</h2>
  <h3>ng add &commat;angular/material</h3>
</div>

<hr />

<div style="text-align: center;">
  <h1>Instalando Bootstrap</h1>
  <h2><b>Página do Bootstrap:</b><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></h2>
  <h2>Primeira Etapa: Comando para instalar Bootstrap:</h2>
  <h3>npm i bootstrap&commat;5.3.3</h3>
  <h2>Segunda Etapa: </h2>
  <p>É abrir o arquivo <b>angular.json</b> e adicionar os arquivos CSS e JavaScript do Bootstrap.</p>
  <p>Localize as características: styles e scripts e adicione o caminho do Bootstrap respectivamente:</p>
  <ul style="list-style-type: none;">
    <li>"node_modules/bootstrap/dist/css/bootstrap.min.css"</li>
    <li>"node_modules/bootstrap/dist/js/bootstrap.min.js"</li>
  </ul>
  <p>Por exemplo - arquivo: <b>angular.json</b></p>
  <p> "styles": [ "&commat;angular/material/prebuilt-themes/indigo-pink.css", "src/styles.css", "node_modules/bootstrap/dist/css/bootstrap.min.css"], </p>
  <p> "scripts": ["node_modules/bootstrap/dist/js/bootstrap.min.js"]</p>
  <p>Testando Bootstrap</p>
  <button type="button" class="btn btn-primary">Primary</button>
</div>