<mat-card>
  <mat-action-list>                <!-- Angular Material: Para utilizar "mat-action-list" tem que importar o MatListModule no app.module.ts -->
    <div mat-subheader>Menu</div>
    <button mat-list-item routerLink="/admin">
      <mat-icon mat-list-icon>home</mat-icon> Inicio
    </button>
    <button mat-list-item routerLink="/admin/profile">
      <mat-icon mat-list-icon>account_circle</mat-icon> Perfil
    </button>
    <button mat-list-item routerLink="/admin/categorias">
      <mat-icon mat-list-icon>list</mat-icon>Categorias
    </button>
    <button mat-list-item routerLink="/admin/add-categoria">
      <mat-icon mat-list-icon>add_circle_outline</mat-icon>Adicionar Categoria
    </button>
    <button mat-list-item routerLink="/admin/exames">
      <mat-icon mat-list-icon>quiz</mat-icon>Questionários
    </button>
    <button mat-list-item>
      <mat-icon mat-list-icon>add</mat-icon>Adicionar Questionários
    </button>
    <button mat-list-item>
      <mat-icon mat-list-icon>logout</mat-icon>Sair
    </button>
  </mat-action-list>
</mat-card>
