<mat-card class="mt10" *ngFor = "let e of exames">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>
                {{ e.titulo }}
            </mat-card-title>
            <mat-card-subtitle>
                {{ e.categoria.titulo }}
            </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="primary">Perguntas</button>
            <button mat-stroked-button color="primary" class="ml20">Pontos Máximos {{ e.pontosMaximos }}</button>
            <button mat-stroked-button color="primary" class="ml20">Perguntas {{ e.numeroDePerguntas }}</button>
            <button mat-flat-button color="primary" class="ml20">Atualizar</button>
            <button mat-flat-button color="primary" class="ml20">Tentativas</button>
            <button mat-flat-button color="warn" class="ml10" (click) = "eliminarExame(e.exameId)">Deletar</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>

<div class="container text-center mt20">
    <button mat-raised-button routerLink="/admin/add-exame" color="primary">Adicionar Questionário</button>
</div>
